<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.charitablengo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_ngo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharitAble"
        tools:ignore="ExtraText"
        tools:replace="android:label">

        <activity
            android:name=".splash1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".OrderdetailsNGO_books"
            android:exported="true" />
        <activity
            android:name=".OrderdetailsNGO_clothes"
            android:exported="true" />
        <activity
            android:name=".OrderdetailsNGO_food"
            android:exported="true" />


        <activity
            android:name=".ngo_one"
            android:exported="true" />
        <activity
            android:name=".splash4"
            android:exported="true" />
        <activity
            android:name=".ngo_two"
            android:exported="true"
            android:label="ngo_two" />

    </application>

</manifest>