<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.charitable">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CharitAble"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharitAble"
        tools:ignore="ExtraText"
        tools:replace="android:label">

        <activity
            android:name=".splash1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".choose"
            android:exported="true" />
        <activity
            android:name=".donor_one"
            android:exported="true" />
        <activity
            android:name=".splash2"
            android:exported="true" />
        <activity
            android:name=".donor_two"
            android:exported="true"
            android:label="donor_two" />
        <activity
            android:name=".food_zero"
            android:exported="false" />
        <activity
            android:name=".books_one"
            android:exported="true"
            android:label="books_one" />
        <activity
            android:name=".clothes_one"
            android:exported="true"
            android:label="clothes_one" />
        <activity
            android:name=".food_one"
            android:exported="true" />
        <activity
            android:name=".books_two"
            android:exported="true" />
        <activity
            android:name=".OrderdetailsNGO_books"
            android:exported="true" />
        <activity
            android:name=".clothes_two"
            android:exported="true" />
        <activity
            android:name=".food_two"
            android:exported="true" />
        <activity
            android:name=".food_three"
            android:exported="true" />
        <activity
            android:name=".ngo_one"
            android:exported="true" />
        <activity
            android:name=".splash4"
            android:exported="true" />
        <activity
            android:name=".ngo_two"
            android:exported="true"
            android:label="ngo_two" />
        <activity
            android:name=".MainActivity_Whatsapp"
            android:exported="true"
            android:label="WhatsApp" />
        <activity
            android:name=".donrequest_one"
            android:exported="false"
            android:label="ngo_two" />
        <activity
            android:name=".employee_one"
            android:exported="true"
            android:label="ngo_two" />
    </application>

</manifest>