<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.charitable">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CharitAble"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharitAble"
        tools:ignore="ExtraText">
        <activity
            android:name=".donor_two"
            android:exported="false"
            android:label="donor_two" />
<!--        <activity-->
<!--            android:name=".ngo_two"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_ngo_two" />-->
        <activity
            android:name=".restaurant_two"
            android:exported="false"
            android:label="restaurant_two" />
        <activity
            android:name=".splash4"
            android:exported="false" />
        <activity
            android:name=".splash1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".choose"
            android:exported="true" />
        <activity
            android:name=".splash2"
            android:exported="true" />
        <activity
            android:name=".splash3"
            android:exported="true" />
        <activity
            android:name=".ngo_one"
            android:exported="true" />
        <activity
            android:name=".restaurant_one"
            android:exported="true" />
        <activity
            android:name=".donor_one"
            android:exported="true" />
    </application>

</manifest>